<h1> Edit user</h1>

<form id="userEdit"  name="editUser" ng-submit="userEdit.update()">
	<label for="firstName">First Name</label>
	<input type="text" name="firstName" ng-model="userEdit.user.firstName">

	<label for="firstName">Last Name</label>
	<input type="text" name="firstName" ng-model="userEdit.user.lastName">

	<label for="firstName">Email</label>
	<input type="email" name="firstName" ng-model="userEdit.user.email">

	<label for="password">Password</label>
  <input type="password"  name="password" placeholder="Password" ng-model=" userNew.newUser.password">

  <button class="edit" ng-click="userEdit.update(user)">Edit</button>
</form>
