
<h1 class="page-title">Venue scanner user app</h1>

<table id="all-users">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Password</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <tr ng-repeat="user in userIndex.all">
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.email}}</td>
    <td>{{ user.password}}</td>
    <td>  <a ui-sref="userEdit({ id: user._id })"> Edit </a></td>
    <td>  <a  href="#" ng-confirm-click="Would you like to delete that user?" ng-click="userIndex.delete(user)" >Delete</a></td>
  </tr>
</table>
