<h1 class="page-title">Add user</h1>

<form id="userAdd" class="user-form" name="addUser" ng-submit="userNew.create()">

  <label for="firstName">First Name</label>
  <input type="text"  name="firstName" placeholder="Firstname" ng-model=" userNew.newUser.firstName">


  <label for="firstName">Last Name</label>
  <input type="text"  name="lastName" placeholder="Lastname" ng-model=" userNew.newUser.lastName">


  <label for="firstName">Email</label>
  <input type="text"  name="email" placeholder="Email" ng-model=" userNew.newUser.email">

  <label for="password">Password</label>
  <input type="text" name="password" placeholder="Password" ng-model="userNew.newUser.password">


  <input type="submit" value="Add">
</form>
